@page "/deleteprioridades"
@page "/deleteprioridades/prioridadId={prioridadId:int}"
@rendermode InteractiveServer
@inject PrioritiesServices prioritiesServices;
@inject NavigationManager NavigationManager;

<PageTitle>Eliminar Prioridad</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header">
			<h3><strong>Eliminar Prioridad</strong></h3>
		</div>
		@*Body*@
		<div class="card-body col-5">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4"></div>
			<h4><strong>¿Est&aacute;s seguro de que quieres eliminar esta prioridad?</strong></h4>
			@*Datos*@
			<div class="mb-1">
				<p class="mb-0">Prioridad_Id: @prioridad.PriorityId</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">Descripci&oacute;n: @prioridad.Description</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">D&iacute;as_Compromiso: @prioridad.DaysCommitment</p>
			</div>
			<button type="button" class="btn btn-outline-danger" @onclick="Eliminar">Eliminar</button>
			<button type="button" class="btn btn-outline-dark" @onclick="IrAPaginaDestino">Cancelar</button>
		</div>
		@*Mensaje*@
		@mensaje
	</div>
</div>

@code {
	[Parameter]
	public int prioridadId { get; set; }
	public Priorities prioridad { get; set; } = new Priorities();
	public string mensaje { get; set; } = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);
		if (prioridadId > 0)
			prioridad = await prioritiesServices.BuscarId(prioridadId);
	}

	public async Task Eliminar()
	{
		var eliminar = await prioritiesServices.Eliminar(prioridad);
		if (eliminar)
		{
			mensaje = "La prioridad ha sido eliminada con exito";
			await Task.Delay(2000);
			IrAPaginaDestino();
		}
		else
			mensaje = "No se ha podido eliminar la prioridad correctamente";
	}

	void IrAPaginaDestino()
	{
		NavigationManager.NavigateTo("/detailsprioridades");
	}
}
