@page "/detailsprioridades"
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject PrioritiesService prioritiesServices;
@inject NavigationManager NavigationManager;

<PageTitle>Detalles de Prioridades</PageTitle>
<div class="cotainer">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header">
			<h3><strong>Detalles de Prioridades</strong></h3>
			<button type="button" class="btn btn-outline-primary" @onclick="VolverAInicio">Volver</button>
		</div>
		@*Body*@
		<div class="card-body">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4"></div>
			@if(prioridadesList.Count == 0)
			{
				<p><em>Cargando..</em></p>
			}
			else
			{
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Prioridad_Id</th>
							<th>Descripci&oacute;n</th>
							<th>D&iacute;as_Compromiso</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tBody>
						@foreach(var prioridades in prioridadesList)
						{
							<tr>
								<td>@prioridades.PriorityId</td>
								<td>@prioridades.Description</td>
								<td>@prioridades.DaysCommitment</td>
								<td><a href="/editprioridades/prioridadId=@prioridades.PriorityId"><em><i class="bi bi-pencil-square" /></em></a></td>
								<td><a href="/deleteprioridades/prioridadId=@prioridades.PriorityId"><em><i class="bi bi-trash3-fill" /></em></a></td>
							</tr>
						}
					</tBody>
				</table>
			}
		</div>
		@*Footer*@
		<div class="card-footer">
			<p><strong>Total de Prioridades:</strong> @prioridadesList.Count</p>
		</div>
	</div>
</div>

@code {
	public Priorities prioridad { get; set; } = new Priorities();
	public List<Priorities> prioridadesList = new List<Priorities>();

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);
		Expression<Func<Priorities, bool>> criterio = prioridad => prioridad.PriorityId > 0;
		prioridadesList = await prioritiesServices.Listar(criterio);
	}

	void VolverAInicio()
	{
		NavigationManager.NavigateTo("/prioridades");
	}
}
